<%- include('../partials/header') %>
<link rel='stylesheet' href='/stylesheets/style.css' />

<br>
<br>
<h2>Enter Seat Number and Price</h2>
<form id="add-tickets-form" action="/flights/<%= flight._id %>/tickets/new" method= "POST">
  <label>Seat:</label>
  <input name="seat" required pattern="[A-F][1-9]\d?">
  <label>Price:</label>
  <input type="text" name="price">
  <input type="submit" value="New Ticket">
</form>
