<%- include('../partials/header') %>

<p>Please first ensure that the seat is not in the dropdown
    <select>
        
      </select>
</p>

<form id="add-tickets-form" action="/flights/<%= flight._id %>/tickets/new" method= "POST">
  <label>Seat:</label>
  <input name="seat" required pattern="[A-F][1-9]\d?">
  <label>Price:</label>
  <input type="text" name="price">
  <input type="submit" value="New Ticket">
</form>
