* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  margin: 0;
  padding: 50px;
  display: flex;
  flex-direction: column;
  grid-template-rows: 50px 1fr;
  background-color: rgb(227, 223, 223);
}

a {
  color: #00B7FF;
}

#show-page {
 display: flex;
 flex-direction: row;
}

#show-table {
  border: 1px solid black;
}




