* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

a {
  color: white;
}

body {
  margin: 0;
  padding: 50px;
  display: flex;
  flex-direction: column;
  grid-template-rows: 50px 1fr;
  background-color: rgb(227, 223, 223);
  justify-items: center;
  
}

#show-page {
 display: flex;
 flex-direction: row;
 border: 1px solid black;
}

nav {
  background-color: rgb(112, 112, 112);
  display: flex;
  justify-content: space-around;
  padding: 5px;
  color: white;
}

#details, #tickets {
  color: #424748;
  font-weight: bold;
  
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 5px;
  text-align: center;
}


